:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: #0F172A;
  /* azul oscuro profundo */
  --Surface: #1E293B;
  /* cards / secciones */
  --Primary: #38BDF8;
  /* links / botones */
  --Secondary: #62f096;
  /* success / backend */
  --text: #E5E7EB;
  /* texto principal */
  --muted: #94A3B8;
  /* texto secundario */
  --border: #334155;
  --link-hover: #BAE6FD;



}

html,body{
  max-width: 100dvw;
  overflow-x: hidden;
}